
#side-menu {
    position: fixed;
    left: 64px;
    bottom: 32px;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11000;
    gap: 16px;
}


#shuffle-icon{
    width: 24px;
    height: 24px;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: filter 0.2s;
}
#search-icon{
    width: 18px;
    height: 18px;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: filter 0.2s;
}


#upper-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* 左右贴边 */
    align-items: center;
    /* 垂直居中 */
}

#dunes-icon {
    display: flex;
    flex-direction: column;
}



#upper-menu .small-icon {
    width: 36px;
    height: 36px;
    background-color: #EEE9DB;
    border-radius: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#upper-menu .medium-icon {
    width: 66px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 22.733px;
    background: #EEE9DB;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    /* 文字水平居中（备用） */
}


#buttons {
    display: flex;
    gap: 8px;
    flex-direction: row;
}



#lower-menu {
    width: 313px;
    height: 37px;
    display: flex;
    gap:16px;
    align-items: center;
    justify-content: center;
    border-radius: 22.733px;
    background: #EEE9DB;
}

#scaleContainer {
    position: relative;
    width: 200px;
    height: 32px;
    flex-shrink: 0;
}

.scale-line {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #392F17;
    transform: translateY(-50%);
}

.scale-numbers,
.scale-ticks {
    position: absolute;
    top: 35%;
    /* 对数字可调 */
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.scale-numbers span {
    position: absolute;
    top: -30%;
    transform: translateX(-50%);
    /* 让数字中心对齐刻度线 */
    color: #392F17;
    text-align: center;
    font-family: "Barlow Condensed";
    font-size: 13.778px;
    font-style: normal;
    font-weight: 500;
    /* 900% */
}

.scale-indicator {
    position: absolute;
    top: 80%;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    background-color: #392F17;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}

.scale-ticks div {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: black;
    top: 50%;
    /* 放在横线上方 */
    transform: translateX(-50%) translateY(-100%);
    /* 中心对齐 */
}

#indicator {
    cursor: grab;
}

#indicator.dragging {
    cursor: grabbing;
}
