@import url("https://fontsapi.zeoseven.com/642/main/result.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    overflow: hidden;
    height: 100vh;
    background: #D1BA80;
    color: #544011;
    font-family: "Barlow Condensed", "ChillDIN";
    transition: opacity 0.8s, transform 0.8s;
}

img {
    user-select: none;
    /* 禁止文字/图片被选中 */
    -webkit-user-drag: none;
    /* 禁止图片被拖动（Chrome/Safari） */
    -moz-user-select: none;
    /* Firefox 禁止选中 */
    -ms-user-select: none;
    /* IE/Edge 旧版 */
}

/* 文本样式 */
p,
h3 {
    font-family: "ChillDINGothic";
}

h1.Chinese {
    color: #392f17;
    text-align: center;
    font-family: ChillDINGothic;
    font-size: 42px;
    font-weight: 700;
}

h1.English {
    color: #392f17;
    text-align: center;
    font-family: "Stint Ultra Condensed";
    font-size: 42px;
}

.word-node p #English {
    color: #544011;
    font-family: "Barlow Condensed" !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    text-wrap: nowrap;
}
#term h1 {
    margin: 0;
    font-family: "ChillDINGothic";
    font-weight: 600;
    font-size: 42px;
    letter-spacing: -3%;
}
#upper-menu .Chinese {
    color: #392F17;
    font-family: "ChillDINGothic";
    font-size: 29.538px;
    font-style: normal;
    font-weight: 400;
    /* 187.5% */
    letter-spacing: -1.477px;
    margin: 0;
}
#upper-menu .English {
    color: #392F17;
    font-family: "Barlow Condensed";
    font-size: 21.846px;
    font-style: normal;
    font-weight: 600;
    /* 253.521% */
    letter-spacing: -0.437px;
    margin: 0;
}
#upper-menu p {
    color: #392F17;
    font-family: "Barlow Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* 253.521% */
    letter-spacing: -0.437px;
}



.hidden {
    transition: opacity 0.8s, transform 0.8s;
    opacity: 0 !important;
    pointer-events: none;
}

/* 主视图 */
#universe-view {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-origin: center center;
    overflow: hidden;
    cursor: grab;
}

#universe-view:active {
    cursor: grabbing;
}

#universe-canvas, #connection-lines {
  position: absolute;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
}
#connection-lines { z-index: 90000; pointer-events: none; }
#connection-lines line { pointer-events: stroke; }



/* 单词节点 */
#word-nodes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
}
.word-node {
    padding: 4px;
    width: 93px;
    height: 32px;
    flex-shrink: 0;
    opacity: 1;
    border-radius: 4px;

    text-align: left;
    color: #544011;
    font-family: "Barlow Condensed" !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    text-wrap: nowrap;

    pointer-events: auto;
    position: absolute;
    cursor: pointer;
}
.word-node.focused {
    font-size: 36px;
}
.word-node.focused .word-details {
    opacity: 1;
    pointer-events: auto;
}

.detail {
    position: absolute;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detail * {
    margin: 10px;
}
.detail-title {
    font-family: "ChillDINGothic";
    font-weight: 575;
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 17px;
    letter-spacing: 0;
    gap: 6px;
    position: relative;
}
.detail-title::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #544011;
    display: inline-block;
}
.detail img {
    max-width: 280px;
    max-height: 280px;
    object-fit: contain;
    border-radius: 4px;
    margin: 10px;
    opacity: 0.7;
    mix-blend-mode: darken;
}
#term {
    width: 328px;
    height: 213px;
    top: 50vh;
    left: 50vw;
    background-color: #FAD67B;
}
#term #terms {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start; 
}
#image {
    min-width: 120px;
    min-height: 150px;
    top: 30vh;
    left: 70vw;
    background-color: #F0B549;
}
#proposer {
    width: 260px;
    min-height: 160px;
    top: 65vh;
    left: 30vw;
    background-color: #D58020;
}
#comment {
    width: 400px;
    height: 240px;
    top: 75vh;
    left: 60vw;
    background-color: #E1D37A;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #947727;
    opacity: 0.5;
    transition: opacity 0.8s;
    pointer-events: none;
}




/* 联动主浮窗整体平移 */
#floating-panel.shifted {
    transform: translateY(60px) !important;
}





#side-menu {
    position: fixed;
    left: 64px;
    bottom: 32px;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1100;
    gap: 16px;
}

#side-menu img {
    width: 32px;
    height: 32px;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: filter 0.2s;
}


#upper-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* 左右贴边 */
    align-items: center;
    /* 垂直居中 */
}

#dunes-icon {
    display: flex;
    flex-direction: column;
}



#upper-menu .small-icon {
    width: 36px;
    height: 36px;
    background-color: #EEE9DB;
    border-radius: 18px;
}

#upper-menu .medium-icon {
    width: 66px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 22.733px;
    background: #EEE9DB;

    display: flex;
    /* 开启 flex 布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */

    text-align: center;
    /* 文字水平居中（备用） */
}


#buttons {
    display: flex;
    gap: 8px;
    flex-direction: row;
}

#lower-menu {
    width: 313px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22.733px;
    background: #EEE9DB;
}

#scaleContainer {
    position: relative;
    width: 200px;
    height: 32px;
    flex-shrink: 0;
}

.scale-line {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #392F17;
    transform: translateY(-50%);
}

.scale-numbers,
.scale-ticks {
    position: absolute;
    top: 35%;
    /* 对数字可调 */
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.scale-numbers span {
    position: absolute;
    top: -30%;
    transform: translateX(-50%);
    /* 让数字中心对齐刻度线 */
    color: #392F17;
    text-align: center;
    font-family: "Barlow Condensed";
    font-size: 13.778px;
    font-style: normal;
    font-weight: 500;
    /* 900% */
}

.scale-indicator {
    position: absolute;
    top: 80%;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    background-color: #392F17;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}

.scale-ticks div {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: black;
    top: 50%;
    /* 放在横线上方 */
    transform: translateX(-50%) translateY(-100%);
    /* 中心对齐 */
}

#indicator {
    cursor: grab;
}

#indicator.dragging {
    cursor: grabbing;
}